.git/
.github/
.idea/
**/*.log
docker-compose.override.yml
compose.override.yaml
.env.local
.env.*.local
.env.local.php
var/
vendor/
public/assets/
public/bundles/
assets/vendor/
.phpunit.cache/
phpunit.xml
.dockerignore
Dockerfile
**/Thumbs.db
**/.DS_Store
