{% extends '_layout/_mailbox.html.twig' %}

{% block inbox_tabs %}
    <div class="px-4 py-2.5 border-b border-gray-100/70 dark:border-gray-800/70">
        <h2 class="text-sm font-semibold text-gray-700 dark:text-gray-300">{{ 'drafts.heading'|trans }}</h2>
    </div>
{% endblock %}

{% block message_list %}
    {% if threads is empty %}
        <li class="px-4 py-8 text-center text-sm text-gray-400 dark:text-gray-600">
            {{ 'drafts.empty'|trans }}
        </li>
    {% else %}
        {% for thread in threads %}
            {% include '_partials/_thread_row.html.twig' with { thread: thread } %}
        {% endfor %}
    {% endif %}
{% endblock %}
